
$red: #c1192b
$gold: #FADA00
$gold2: #FFC27B
$white: #f0f0f0

body
  background: darken(#4E4E4E, 10%)
.jumbotron
  border-left: 20px solid #c1192b
  border-radius: 0 3rem
  background: #4E4E4E
  color: #f0f0f0
  box-shadow: -3px 3px 10px rgba(0,0,0,0.5)
  .btn-default
    background: #000
    color: #fff
  .btn-primary
    color: #000
    background: #FFCE00
    border-color: darken(#FFCE00, 30%)
